body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    width: 225px;
    height: 23px;
}
table {
    background-color: #f4f4f4;
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px, 0;
}
.table{
    width: 600px;
    background-color: #FEFFFF;
    border: 1px solid #FEFFFF;
    padding: 10px;
}
td {
    padding: 0;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 20px;
}
.content h1 {
    font-size: 32px;
    color: #020F16;
    text-align: center;
    margin: 0 0 10px;
}
.content h2{
    font-size: 24px;
    color: #020F16;
    text-align: center;
    margin: 0 0 10px;
}
.photos {
    width: 100%;
    margin: 40px 0 40px 0;
    /* text-align: center;  */
}

.photo {
    width: 250px;
    height: 170px;
    position: relative;
    display: inline-block;
    /* margin: 0 10px; */
    
}
.content p {
    font-size: 16px;
    color:  #020F16;
    line-height: 1.5;
    text-align: left;
}
.info-table {
    background-color: #FEFFFF;
    border-collapse: separate;
    border-spacing: 12px;
    margin-top: 32px;
    width: 100%;
    text-align: center;
}
.info-table td {
    border: 1px solid #00AAEF;
    border-radius: 10px;
    vertical-align: top;
    width: 33%;
    padding: 10px;
    text-align: center;
}
.info-table img {
    display: block;
    margin: 0 auto 10px;
}
button {
    align-items: center;
    width: 209px;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(90deg, rgb(0,170,239) 0%, rgb(0,105,167) 100%);
    color: #FEFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    width: 209px;
    height: 59px;
}
.divider{
    border: none;
    border-top: 1px solid #D9DADB;
    margin: 20px 0;
}
.caption{
    color: #898A8D;
    font-size: 12px;
    text-align: center;
}
.caption a{
    color: #00AAEF;
    text-decoration: underline;
}